@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    transition: 0.7s ease;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.7s ease;
}

.logo {
    position: relative;
    max-width: 80px;
}

.toggleMenu {
    visibility: hidden;
    opacity: 0;
    filter: invert(1);
}

.navbar ul {
    display: flex;
    position: relative;
}

.navbar li {
    list-style: none;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    /* color: rgb(8, 87, 8); */
    color: #333;
    font-weight: 400;
}

.navbar li:not(:first-of-type) a {
    margin-left: 40px;
}

.navbar #marker {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    /* background-color: rgb(0, 131, 0); */
    background-color: #127e51;
    border-radius: 4px;
    transition: 0.5s;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    text-transform: capitalize;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    section {
        padding: 20px 20px 120px;
    }

    .header {
        padding: 20px 20px;
    }

    .logo {
        max-width: 60px;
    }

    .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        background-color: #fff;
        opacity: 0;
        transition: all 0.7s ease;
    }

    .navbar #marker {
        visibility: hidden;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar a {
        color: #333;
        font-size: 1.5em;
        margin: 10px 0;
    }

    .navbar a:hover {
        color: #127e51;
        opacity: 1;
    }

    .navbar li:not(:first-of-type) a {
        margin-left: 0;
    }

    .toggleMenu {
        position: relative;
        visibility: visible;
        opacity: 1;
        width: 40px;
        height: 40px;
        z-index: 2;
        background: url(../images/menu.svg);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .toggleMenu:focus,
    .toggleMenu:hover {
        opacity: 5;
    }

    .toggleMenu.active {
        position: fixed;
        right: 21px;
        background: url(../images/x.svg);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .rotate {
        transform: rotateX(360deg);
        transition: trasnform 0.5s linear;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        right: 0;
        opacity: 1;
        background: #fff;
        transition: all 0.7s ease;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .textBox {
        max-width: 100%;
    }

    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 300px;
    }

    .thumb li img {
        max-width: 40px;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }

    .sci {
        background: #017143;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}